* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.first_container {
    width: 60%;
    margin: 10px auto;
    border: 1px solid aliceblue;
    background-color: blueviolet;
    border-radius: 10px;
    padding: 1em;
    font-size: 1.5em;
    
}
.second_container {
    width: 60%;
    margin: 10px auto;
    border: 1px solid aliceblue;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 1em;
    font-size: 1.5em;
    
}
.third_container {
    width: 60%;
    margin: 10px auto;
    border: 1px solid aliceblue;
    background-color: grey;
    border-radius: 10px;
    padding: 1em;
    font-size: 1.5em;
    
}
.fourth_container {
    width: 60%;
    margin: 10px auto;
    border: 1px solid aliceblue;
    background-color: burlywood;
    border-radius: 10px;
    padding: 1em;
    font-size: 1.5em;
    
}
.fifth_container {
    width: 60%;
    margin: 10px auto;
    border: 1px solid aliceblue;
    background-color: goldenrod;
    border-radius: 10px;
    padding: 1em;
    font-size: 1.5em;
    
}